<footer class="footer">
  <div class="authors">
    <p class="job">Akulenok Karina</p>
    <p class="job">Tolkach Valeryia</p>
  </div>
  <a href="/" class="brand-logo"><img src="/img/world2.png" alt="logo" class="logo-img img_center"></a>
  <div class="social-media">
    <a href="https://t.me/fresh_aku" class="social-icon" target="_blank">
      <i class="fa fa-telegram fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/fresh_aku/" class="social-icon" target="_blank">
      <i class="fa fa-instagram fa-2x"></i>
    </a>
    <a href="mailto:tolkach.200209@gmail.com" class="social-icon" target="_blank">
      <i class="fab fa-google fa-2x"></i>
    </a>
  </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<script src="/app.js"></script>