<div class="myCourses-container">
  <h1 class="title">Мои курсы</h1>

  <div id="card">
  {{#if courses.length}}
    <table>
      <thead>
        <tr class="table-row">
          <th class="table-title">Название</th>
          <th class="table-title">Действия</th>
        </tr>
      </thead>
      <tbody>
        
        {{#each courses}}
        <tr class="table-row">
          <td class="table-description">
            {{title}}
            <p>Продолжительность прохождения курса в часах:</p>
            
          </td>
          <td class="table-description">
            <div class="table-btns">
              <button class="btn btm-small js-remove"  data-id="{{id}}"
            data-csrf="{{@root.csrf}}">Удалить</button>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    
  {{else}}
    <p>У вас нет курсов </p>
  {{/if}}
  </div>
</div>