<div class="container">
    <section class="first">
        <h1 class="main__title">Научись новым навыкам онлайн с топовыми курсами</h1>
        <img src="/img/undraw_book_reading_kx9s.svg" alt="desc" class="main__img">
    </section>
    <section class="second">
        <img src="/img/undraw_proud_coder_7ain.svg" alt="desc" class="second__img">
        <div class="whom">
            <h2 class="second_title title">Кем ты станешь</h2>
            <p class="description">Наши курсы позволяют начинающим разработчикам создавать интерфейсы, с которыми взаимодействуют пользователи. Они узнают HTML, CSS и JavaScript – язык, который работает на всех платформах и единственный язык программирования для браузеров.</p>
            <p class="description">Мы предлагаем полный курс Front End: HTML, CSS и JavaScript с нуля. На курсе ты научишься верстать адаптивные и кроссбраузерные приложения и сайты, напишешь свое первое приложение на JavaScript, узнаешь как работает браузер.</p>
        </div>
    </section>
    <section class="third">
        <h2 class="title">Твой результат в конце курса</h2>
        <div class="results-container">
            <div class="results-item">
                <div class="circle">
                    1
                </div>
                <p class="results-desc">
    Изучишь Front End и язык программирования JavaScript с нуля, обучишься верстке, а также напишешь свое первое приложение
                </p>
            </div>
            <div class="results-item">
                <div class="circle">
                    2
                </div>
                <p class="results-desc">
                Научишься писать качественный, чистый код и пользоваться Git
                </p>
            </div>
            <div class="results-item last-result-item">
                <div class="circle">
                    3
                </div>
                <p class="results-desc">
                    Научишься верстать адаптивные и кроссбраузерные приложения и сайты
                </p>
            </div>
            <div class="results-item">
                <div class="circle">
                    4
                </div>
                <p class="results-desc">
                    Узнаешь как работает браузер, какие бывают протоколы и научишься отправлять запросы
                </p>
            </div>
            <div class="results-item">
                <div class="circle">
                    5
                </div>
                <p class="results-desc">
                    Научишься пользоваться Figma и Photoshop и верстать верстать странички по макетам 
                </p>
            </div>
            <div class="results-item last-result-item">
                <div class="circle">
                    6
                </div>
                <p class="results-desc">
                    Станешь востребованным Front End разработчиком
                </p>
            </div>
        </div>
    </section>
    <section class="fourth">
        <h2 class="title">Как проходит обучение</h2>
        <div class="learning">
            <div class="learning-item">
                <div class="text__item">
                    <img src="/img/icon/bi_book.svg" alt="book" class="desc-icon">
                    <div class="about-learning">
                        <p class="learning-title">85% практика</p>
                        <p class="leaning-desc">
                            Обучение созданию сайтов с нуля на наших курсах – это решение реальных задач и приобретение практических навыков, а не заучивание терминов и выполнение заданий по книжкам
                        </p>
                    </div>
                </div>
                <div class="text__item">
                    <img src="/img/icon/fluent_laptop-20-regular.svg" alt="laptop" class="desc-icon">
                    <div class="about-learning">
                        <p class="learning-title">15% теория</p>
                        <p class="leaning-desc">Без нее никак. Изучаем только самое важное, без лишней воды</p>
                    </div>
                </div>
            </div>
            <div class="learning-item">
                <img src="/img/undraw_working_remotely_jh40.svg" alt="working" class="learning__img">
            </div>
        </div>
        <div class="learning">
            <div class="learning-item">
                <img src="/img/undraw_static_website_0107.svg" alt="htmlcss" class="learning__img">
            </div>
            <div class="learning-item">
                <div class="text__item">
                    <img src="/img/icon/wpf_diploma-1.svg" alt="diploma" class="desc-icon">
                    <div class="about-learning">
                        <p class="learning-title">Домашние задания и  сертификат</p>
                        <p class="leaning-desc">После каждого урока обязательные домашние задания, которые действительно хочется делать. Сертификат в конце обучения, который вы сможете включить в резюме.</p>
                    </div>
                </div>
                <div class="text__item">
                    <img src="/img/icon/mdi-light_message-text.svg" alt="message" class="desc-icon">
                    <div class="about-learning">
                        <p class="learning-title">Мы всегда онлайн</p>
                        <p class="leaning-desc">На наших курсах предусмотрен форум, на котором вы в любое время можете задать вопрос как ментору, так и сокурсникам и вам обязательно помогут</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fifth">
        <h2 class="title creators-title">Создатели курса</h2>
        <div class="creators">
            <div class="creator">
                <div class="creator-karina"></div>
                <p class="job">Карина</p>
                <p class="job">Front End Developer </p>
            </div>
            <div class="creator">
                <div class="creator-lera"></div>
                <p class="job">Валерия</p>
                <p class="job">Front End Developer </p>
            </div>
        </div>
    </section>
</div>