/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.medium-text {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
}

.large-text {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1px;
}

.nav-wrapper {
  padding: 0 2rem;
  display: flex;
  align-items:  center;
  justify-content: space-between;
}

.burger-menu {
  display: none;
}

.logo-img {
  width: 190px;
  height: 130px;
}

.navigation {
  margin-top: 15px;
}

.navigation-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navigation-link {
  color: #0E0E0E;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.7;
}

.navigation-item {
  margin-right: 35px;
}

.navigation-link:hover {
  color: #e756fd;
}

.registr path:hover {
  fill: #e756fd;
}

/* bubbles */
.bubbles{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  width: 100%;
  justify-content: space-around;
}
.bubbles span{
  height: 60px;
  width: 60px;
  background: #e756fd2c;
  animation: move 10s linear infinite;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
@keyframes move {
  100%{
    transform: translateY(-4000px);
  }
}
.bubbles span.one{
  animation-delay: 2.2s;
  transform: scale(2.15)
}
.bubbles span.two{
  animation-delay: 3.5s;
  transform: scale(1.55)
}
.bubbles span.three{
  animation-delay: 0.2s;
  transform: scale(0.35)
}
.bubbles span.four{
  animation-delay: 6s;
  transform: scale(2.15)
}
.bubbles span.five{
  animation-delay: 7s;
  transform: scale(0.5)
}
.bubbles span.six{
  animation-delay: 4s;
  transform: scale(2.5)
}
.bubbles span.seven{
  animation-delay: 9;
  transform: scale(1.75)
}
.bubbles span.eighth{
    animation-delay: 8s;
    transform: scale(3)
  }
.bubbles span.ninth{
    animation-delay: 1s;
    transform: scale(1.5)
}
.bubbles span:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 40%;
  transform: skew(45deg) translateX(130px);
  background: #e99df52c;
  animation: mirror 5s linear infinite;
}
@keyframes mirror {
  100%{
    transform: translateX(-450px);
  }
}
.bubbles span.one:before{
  animation-delay: 1.5s;
}
.bubbles span.two:before{
  animation-delay: 3.5s;
}
.bubbles span.three:before{
  animation-delay: 2.5s;
}
.bubbles span.four:before{
  animation-delay: 7.5s;
}
.bubbles span.five:before{
  animation-delay: 4.5s;
}
.bubbles span.six:before{
  animation-delay: 0.5s;
}
.bubbles span.seven:before{
  animation-delay: 6s;
}

/* main */
.container {
  width: 95%;
  margin: 0 auto;
}

.first {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.main__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  display: flex;
  margin-top: 7%;
}

.main__img {
  width: 50%;
  height: 418px;
  margin-left: 12rem;
}

.second {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.second__img {
  width: 50%;
  height: 418px;
  margin-right: 12rem;
}

.second_title {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

.description {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

.third {
  margin-bottom: 10%;
}

.results-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.circle {
  width: 64px;
  height: 64px;
  background-color: #EDEDED;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.results-item {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 5%;
}

.results-desc {
  width: 75%;
}

.results-desc {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

.learning {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.learning-item {
  width: 50%;
}

.learning__img {
  width: 90%;
  height: 300px;
}

.text__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.about-learning {
  width: 85%;
}

.learning-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.leaning-desc {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

.fifth {
  margin-bottom: 10%;
  margin-top: 10%;
}

.creators {
  display: flex;
  justify-content: space-around;
}

.creators-title {
  margin-bottom: 5%;
}

.job {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.creator-karina {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: url(./img/karina.png) no-repeat center;
  border: 5px solid #ED8AFC;
  background-size:cover;
}

.creator-lera {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: url(./img/lera.png) no-repeat center;
  border: 5px solid #ED8AFC;
  background-size: cover;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  margin-bottom: 2%;
}

.authors {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img_center {
  display: flex;
  align-items: center;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #ED8AFC;
  border-color: #ED8AFC;
}

@media (max-width: 1000px) {
  .main__img {
    margin-left: 5rem;
  }

  .second__img {
    margin-right: 5rem;
  }

  .creator-karina, .creator-lera {
    width: 300px;
    height: 300px;
  }

  .navigation-list {
    display: none;
  }

  .side-nav_active {
    position: absolute;
    background-color: #e56ef7;
    height: 500px;
    width: 300px;
    top: 20%;
    left: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
    border-radius: 50%;
    padding-left: 30px;
  }

  .burger-menu {
    display: inline-block;
    position: absolute;
    left: 90%;
  }

  .burger-menu__line1, .burger-menu__line2, .burger-menu__line3 {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
    opacity: 1;
  }

  .burger-menu:hover .burger-menu__line1{
    transform: rotate(45deg) translateY(12px);
    background-color: #000;
  }

  .burger-menu:hover .burger-menu__line2 {
    opacity: 0;
  }

  .burger-menu:hover .burger-menu__line3 {
    transform: rotate(-45deg) translateY(-13px);
    background-color: #000;
  }

  .navigation-item {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

@media (max-width: 750px) {
  .main__img {
    margin-left: 3rem;
  }

  .side-nav_active {
    left: 70%;
  }

  .second__img {
    margin-right: 3rem;
  }

  .creator-karina, .creator-lera {
    width: 200px;
    height: 200px;
  }

  .circle {
    width: 40px;
    height: 40px;
  }

  .results-desc, .leaning-desc, .leaning-desc {
    font-size: 18px;
    line-height: 20px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .first, .second, .learning, .creators, .footer {
    flex-direction: column;
    align-items: center;
  }

  .side-nav_active {
    left: 50%;
  }

  .main__img {
    margin-left: 0;
    width: 70%;
  }

  .authors {
    flex-direction: row;
  }

  .job:first-child {
    margin-right: 1rem;
  }

  .learning:last-child {
    margin-top: 0;
  }

  .learning-item {
    width: 90%;
  }

  .second__img, .learning__img {
    display: none;
  }

  .creator-karina, .creator-lera {
    width: 300px;
    height: 300px;
  }

  .results-item {
    width: 40%;
  }
}

@media (max-width: 400px) {
  .results-item {
    width: 90%;
  }

  .learning-item {
    width: 100%;
  }

  .creator-karina, .creator-lera {
    width: 200px;
    height: 200px;
  }
}